.sidebar{
  background-color: white;
  position: fixed;
  top: 55px;
  left: 0px;
  bottom: 0px;
  width: 70px;
  padding-top: 5px;
  z-index: 200;
  transition: active 0.15s;
}

.sidebar-link{
  height: 75px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-link:hover{
  background-color: rgb(241, 241, 241);
  cursor: pointer;
}

.sidebar-link:active{
  background-color: rgb(228, 228, 228);
}

.sidebar-link img{
  width: 26px;
  margin-bottom: 6px;
}

p{
  font-size: 10px;
}